.newProductForm {
  position: relative;
}

.loading {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
}

.loading-spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 3em;
  width: 3em;
}
