<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-2" routerLink="/">Genesis</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ 'home-page' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'about-page' | translate }}</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-dark mt-2 mt-lg-0 ml-lg-2" routerLink="cart" >
          <i class="bi-cart-fill me-1"></i>
          {{ 'cart' |  translate }}
          <span class="badge bg-dark text-white ms-1 rounded-pill">{{ itemsInCart }}</span>
        </button>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-dark bg-info text-white mt-2 mt-lg-0 ml-lg-2" routerLink="products/new-product">
          {{ 'new-product' |  translate }}
        </a>
      </li>
    </ul>
  </div>

  <div class="dropdown show col-6 col-lg-2 pl-0">
    <a class="dropdown-toggle btn pr-0 pl-0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="flag-icon flag-icon-{{ languageIcons[currentLanguage] }}"></i><span class="col-12">{{ 'language' | translate }}</span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <ng-container *ngFor="let language of languages">
        <a *ngIf="language !== currentLanguage" class="btn dropdown-item" (click)="changeLanguage(language)">
          <i class="flag-icon flag-icon-{{ languageIcons[language] }}"></i>
          <span class="col-12">{{ 'language-' + language | translate }}</span>
        </a>
      </ng-container>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">{{'shop-in-style' | translate }}</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        {{ 'in-3-dimensions' | translate }}
      </p>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
  <div class="container-fluid error" *ngIf="error">
    <ngb-toast class="errorMessage text-center"
    [autohide]="false">
      {{error}}
      </ngb-toast>
  </div>
</main>
