<h1>Upload Directory</h1>

<form [formGroup]="uploadForm" (ngSubmit)="submit()">

    <div class="form-group">
        <label for="file">{{ 'file' | translate }}</label>
        <input
            formControlName="file"
            id="file"
            type="file"
            webkitdirectory
            multiple
            class="form-control"
            (change)="onFileChange($event)">
        <div *ngIf="formControls.file.touched && formControls.file.invalid" class="alert alert-danger">
            <div *ngIf="formControls.file.errors.required">{{ 'validations-file-is-required' | translate }}</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">{{ 'submit' | translate }}</button>
</form>
