<div class='container-fluid'>
  <div class="card mx-auto">
    <div class="card-header">
      <div class="row" ngbPopover="{{ titlePopover | translate }}" triggers="mouseenter:mouseleave">
        <div class="col-8 text-center  text-nowrap">
          <h5 class="font-weight-bold">{{ product.name | translate | truncate:maxTitleSize }}</h5>
        </div>
        <div class="col-2 offset-2">
          <span class="badge badge-dark" *ngIf="product.model">3D</span>
        </div>
      </div>

    </div>
    <img class='mx-auto img-thumbnail' src="{{ thumbnail }}" width="auto" height="auto" />
      <div class="card-body text-center mx-auto" ngbPopover="{{ descriptionPopover | translate }}" triggers="mouseenter:mouseleave">
          <div class='cvp'>
              <p class="card-text">{{ product.description | translate | truncate:maxDescriptionSize }}</p>
              <p class="card-text pt-2">{{ product.price }}€</p>
              <a routerLink="details/{{ product.id }}" class="btn details px-auto">{{ 'view-details' | translate }}</a><br/>
              <a class="btn cart-btn px-auto" (click)=addToCart()>{{ 'add-to-cart' | translate }}
                <span *ngIf="quantity > 0" class="badge bg-white text-dark ms-1 rounded-pill">{{ quantity }}</span>
              </a>
          </div>
      </div>
  </div>
</div>
